# GDP PER CAPITA

#### https://apps.bea.gov/itable/iTable.cfm?ReqID=70&step=1&acrdn=1#panel-6

### I was only able to find state gdp (current US dollars), this will be the work of dividing the GDP by the population of the state to get the value of GDP per capita

In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
co_df = pd.read_csv("../state_gdp/co_gdp.csv")
co_df

,GeoName,2014:Q1,2014:Q2,2014:Q3,2014:Q4,2015:Q1,2015:Q2,2015:Q3,2015:Q4,2016:Q1,2016:Q2,2016:Q3,2016:Q4,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1
0,Colorado,301806.8,307147.1,312328.2,316888.2,316793.3,320320.4,322179.3,323591.2,321951.2,326571.2,332515.8,338608.8,341554.9,344737.6,350959.8,358340,363869.5,369950.4,373225.5,378653,382449.7,390227.5,397140.6,399054.1,395421.1,358716.2,385075.1,391126.2,402761.3,417623.6,426477.5,440903.4,447519.9

In [3]:
co_df.drop(['GeoName'], axis=1, inplace=True)
co_df = co_df.T
# co_df

                0
2014:Q1  301806.8
2014:Q2  307147.1
2014:Q3  312328.2
2014:Q4  316888.2
2015:Q1  316793.3
2015:Q2  320320.4
2015:Q3  322179.3
2015:Q4  323591.2
2016:Q1  321951.2
2016:Q2  326571.2
2016:Q3  332515.8
2016:Q4  338608.8
2017:Q1  341554.9
2017:Q2  344737.6
2017:Q3  350959.8
2017:Q4  358340.0
2018:Q1  363869.5
2018:Q2  369950.4
2018:Q3  373225.5
2018:Q4  378653.0
2019:Q1  382449.7
2019:Q2  390227.5
2019:Q3  397140.6
2019:Q4  399054.1
2020:Q1  395421.1
2020:Q2  358716.2
2020:Q3  385075.1
2020:Q4  391126.2
2021:Q1  402761.3
2021:Q2  417623.6
2021:Q3  426477.5
2021:Q4  440903.4
2022:Q1  447519.9

In [5]:
co_df.rename(columns = {0 : "gdp (current US dollars, millions)"}, inplace=True)

In [6]:
co_df.reset_index(inplace=True)

In [7]:
co_df

      index  gdp (current US dollars, millions)
0   2014:Q1                            301806.8
1   2014:Q2                            307147.1
2   2014:Q3                            312328.2
3   2014:Q4                            316888.2
4   2015:Q1                            316793.3
5   2015:Q2                            320320.4
6   2015:Q3                            322179.3
7   2015:Q4                            323591.2
8   2016:Q1                            321951.2
9   2016:Q2                            326571.2
10  2016:Q3                            332515.8
11  2016:Q4                            338608.8
12  2017:Q1                            341554.9
13  2017:Q2                            344737.6
14  2017:Q3                            350959.8
15  2017:Q4                            358340.0
16  2018:Q1                            363869.5
17  2018:Q2                            369950.4
18  2018:Q3                            373225.5
19  2018:Q4                            378653.0
20  2019:Q1                            382449.7
21  2019:Q2                            390227.5
22  2019:Q3                            397140.6
23  2019:Q4                            399054.1
24  2020:Q1                            395421.1
25  2020:Q2                            358716.2
26  2020:Q3                            385075.1
27  2020:Q4                            391126.2
28  2021:Q1                            402761.3
29  2021:Q2                            417623.6
30  2021:Q3                            426477.5
31  2021:Q4                            440903.4
32  2022:Q1                            447519.9

In [8]:
co_df.rename(columns={"index": "quarters"}, inplace=True)
co_df

   quarters  gdp (current US dollars, millions)
0   2014:Q1                            301806.8
1   2014:Q2                            307147.1
2   2014:Q3                            312328.2
3   2014:Q4                            316888.2
4   2015:Q1                            316793.3
5   2015:Q2                            320320.4
6   2015:Q3                            322179.3
7   2015:Q4                            323591.2
8   2016:Q1                            321951.2
9   2016:Q2                            326571.2
10  2016:Q3                            332515.8
11  2016:Q4                            338608.8
12  2017:Q1                            341554.9
13  2017:Q2                            344737.6
14  2017:Q3                            350959.8
15  2017:Q4                            358340.0
16  2018:Q1                            363869.5
17  2018:Q2                            369950.4
18  2018:Q3                            373225.5
19  2018:Q4                            378653.0
20  2019:Q1                            382449.7
21  2019:Q2                            390227.5
22  2019:Q3                            397140.6
23  2019:Q4                            399054.1
24  2020:Q1                            395421.1
25  2020:Q2                            358716.2
26  2020:Q3                            385075.1
27  2020:Q4                            391126.2
28  2021:Q1                            402761.3
29  2021:Q2                            417623.6
30  2021:Q3                            426477.5
31  2021:Q4                            440903.4
32  2022:Q1                            447519.9

In [10]:
gdp_values = co_df["gdp (current US dollars, millions)"].tolist()
gdp_values

[301806.8,
 307147.1,
 312328.2,
 316888.2,
 316793.3,
 320320.4,
 322179.3,
 323591.2,
 321951.2,
 326571.2,
 332515.8,
 338608.8,
 341554.9,
 344737.6,
 350959.8,
 358340.0,
 363869.5,
 369950.4,
 373225.5,
 378653.0,
 382449.7,
 390227.5,
 397140.6,
 399054.1,
 395421.1,
 358716.2,
 385075.1,
 391126.2,
 402761.3,
 417623.6,
 426477.5,
 440903.4,
 447519.9]

In [14]:
def get_total():
    years_totals = []
    quarter_1 = 0
    quarter_2 = 1
    quarter_3 = 2
    quarter_4 =3
    count = 1
    while count <= 8:  
        total = gdp_values[quarter_1] + gdp_values[quarter_2] + gdp_values[quarter_3] + gdp_values[quarter_4]
        years_totals.append(total)
        
        quarter_1 += 4
        quarter_2 += 4
        quarter_3 += 4
        quarter_4 += 4
        count += 1
    return years_totals

In [16]:
totals = get_total()
totals

[1238170.2999999998,
 1282884.2,
 1319647.0,
 1395592.3,
 1485698.4,
 1568871.9,
 1530338.5999999999,
 1687765.7999999998]

In [18]:
data = {"year": [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
       "gdp": totals}
year_co_gdp = pd.DataFrame(data)
year_co_gdp

   year        gdp
0  2014  1238170.3
1  2015  1282884.2
2  2016  1319647.0
3  2017  1395592.3
4  2018  1485698.4
5  2019  1568871.9
6  2020  1530338.6
7  2021  1687765.8

In [9]:
co_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   quarters                            33 non-null     object
 1   gdp (current US dollars, millions)  33 non-null     float64
dtypes: float64(1), object(1)
memory usage: 656.0+ bytes