# Washington GDP PER CAPITA

In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
wa_df = pd.read_csv("../state_gdp/washington_gdp.csv")
# wa_df

In [3]:
# Only want the total industries
wa_df = wa_df.iloc[:1]

In [4]:
wa_df.drop(columns=['GeoName', 'Description'], inplace=True)
wa_df = wa_df.T
wa_df.head()

                0
2005:Q1  287547.6
2005:Q2  292316.2
2005:Q3  293460.5
2005:Q4  301379.6
2006:Q1  307950.6

In [5]:
wa_df = wa_df.iloc[36:]

In [6]:
wa_df.reset_index()

      index         0
0   2014:Q1  429419.3
1   2014:Q2  435640.1
2   2014:Q3  446928.1
3   2014:Q4  450604.4
4   2015:Q1  457749.9
5   2015:Q2  465354.0
6   2015:Q3  472109.2
7   2015:Q4  471545.8
8   2016:Q1  482608.7
9   2016:Q2  482090.8
10  2016:Q3  486253.1
11  2016:Q4  498147.9
12  2017:Q1  506677.3
13  2017:Q2  513084.4
14  2017:Q3  523685.0
15  2017:Q4  536324.7
16  2018:Q1  550623.5
17  2018:Q2  560826.0
18  2018:Q3  571394.3
19  2018:Q4  575079.1
20  2019:Q1  587498.6
21  2019:Q2  592864.5
22  2019:Q3  601300.8
23  2019:Q4  609831.1
24  2020:Q1  609026.1
25  2020:Q2  568716.3
26  2020:Q3  619196.6
27  2020:Q4  620076.2
28  2021:Q1  636346.8
29  2021:Q2  663120.9
30  2021:Q3  674091.1
31  2021:Q4  696748.3
32  2022:Q1  703117.0

In [7]:
wa_df.rename(columns = {0 : "gdp", "index": "year"}, inplace=True)

In [8]:
gdp_values = wa_df["gdp"].tolist()

## Create a function that will add the quarters together and then put them into a list

In [9]:
def get_total():
    years_totals = []
    quarter_1 = 0
    quarter_2 = 1
    quarter_3 = 2
    quarter_4 =3
    count = 1
    while count <= 8:  
        total = gdp_values[quarter_1] + gdp_values[quarter_2] + gdp_values[quarter_3] + gdp_values[quarter_4]
        years_totals.append(total)
        
        quarter_1 += 4
        quarter_2 += 4
        quarter_3 += 4
        quarter_4 += 4
        count += 1
    return years_totals

In [10]:
totals = get_total()

In [11]:
data = {"year": [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
       "gdp": totals}
wa_gdp_year = pd.DataFrame(data)
# wa_gdp_year

   year        gdp
0  2014  1762591.9
1  2015  1866758.9
2  2016  1949100.5
3  2017  2079771.4
4  2018  2257922.9
5  2019  2391495.0
6  2020  2417015.2
7  2021  2670307.1

 ## converting the abbreviated measurement from millions
 ### Data was abbreviate

In [12]:
gdp = wa_gdp_year["gdp"].tolist()

In [13]:
def actual_total():
    gdp_total = []
    value = 0
    count = 1 
    while count <= 8:
        total = gdp[value]*1000000
        gdp_total.append(total)
        value += 1
        count += 1
    return gdp_total

In [14]:
act_gdp = actual_total()

In [15]:
data = {"year": [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
       "gdp": act_gdp}
wa_gdp_year = pd.DataFrame(data)

## Import population data

In [16]:
pop_df = pd.read_csv("../state_pop/washington_population_cleaned.csv")
# pop_df

       year  washington_population
0    1900.0                523.000
1    1901.0                583.000
2    1902.0                651.000
3    1903.0                719.000
4    1904.0                782.000
5    1905.0                842.000
6    1906.0                904.000
7    1907.0                967.000
8    1908.0               1028.000
9    1909.0               1091.000
10   1910.0               1148.000
11   1911.0               1167.000
12   1912.0               1184.000
13   1913.0               1209.000
14   1914.0               1231.000
15   1915.0               1239.000
16   1916.0               1255.000
17   1917.0               1287.000
18   1918.0               1341.000
19   1919.0               1333.000
20   1920.0               1373.000
21   1921.0               1405.000
22   1922.0               1415.000
23   1923.0               1433.000
24   1924.0               1467.000
25   1925.0               1494.000
26   1926.0               1516.000
27   1927.0               1538.000
28   1928.0               1551.000
29   1929.0               1555.000
30   1930.0               1568.000
31   1931.0               1581.000
32   1932.0               1584.000
33   1933.0               1592.000
34   1934.0               1610.000
35   1935.0               1629.000
36   1936.0               1653.000
37   1937.0               1681.000
38   1938.0               1698.000
39   1939.0               1715.000
40   1940.0               1740.000
41   1941.0               1789.000
42   1942.0               1901.000
43   1943.0               2027.000
44   1944.0               2092.000
45   1945.0               2206.000
46   1946.0               2288.000
47   1947.0               2211.000
48   1948.0               2255.000
49   1949.0               2294.000
50   1950.0               2387.000
51   1951.0               2424.000
52   1952.0               2448.000
53   1953.0               2466.000
54   1954.0               2516.000
55   1955.0               2604.000
56   1956.0               2668.000
57   1957.0               2724.000
58   1958.0               2773.000
59   1959.0               2821.000
60   1960.0               2855.000
61   1961.0               2882.000
62   1962.0               2942.000
63   1963.0               2955.000
64   1964.0               2961.000
65   1965.0               2967.000
66   1966.0               3057.000
67   1967.0               3174.000
68   1968.0               3270.000
69   1969.0               3343.000
70   1970.0               3413.244
71   1971.0               3447.553
72   1972.0               3447.885
73   1973.0               3478.782
74   1974.0               3549.946
75   1975.0               3621.339
76   1976.0               3693.610
77   1977.0               3776.050
78   1978.0               3889.073
79   1979.0               4017.632
80   1980.0               4154.678
81   1981.0               4235.731
82   1982.0               4276.552
83   1983.0               4300.266
84   1984.0               4343.656
85   1985.0               4400.098
86   1986.0               4452.720
87   1987.0               4531.901
88   1988.0               4639.893
89   1989.0               4746.316
90   1990.0               4900.780
91   1991.0               5013.443
92   1992.0               5139.011
93   1993.0               5247.704
94   1994.0               5334.896
95   1995.0               5431.024
96   1996.0               5509.963
97   1997.0               5604.105
98   1998.0               5687.832
99   1999.0               5756.361
100  2000.0               5910.512
101  2001.0               5985.722
102  2002.0               6052.349
103  2003.0               6104.115
104  2004.0               6178.645
105  2005.0               6257.305
106  2006.0               6370.753
107  2007.0               6461.587
108  2008.0               6562.231
109  2009.0               6667.426
110  2010.0               6743.009
111  2011.0               6827.479
112  2012.0               6898.599
113  2013.0               6966.252
114  2014.0               7057.531
115  2015.0               7167.287
116  2016.0               7299.961
117  2017.0               7427.951
118  2018.0               7526.793
119  2019.0               7614.024
120  2020.0               7718.785
121  2021.0               7738.692
122     NaN                    NaN
123     NaN                    NaN
124     NaN                    NaN
125     NaN                    NaN
126     NaN                    NaN
127     NaN                    NaN
128     NaN                    NaN
129     NaN                    NaN
130     NaN                    NaN
131     NaN                    NaN
132     NaN                    NaN

In [17]:
pop_df = pop_df.iloc[114:]

In [20]:
pop_df = pop_df.dropna()

## Converting population out of the thousands
### population was abbreviated

In [22]:
wa_pop = pop_df["washington_population"].tolist()

In [23]:
def actual_pop():
    pop_total = []
    value = 0
    count = 1 
    while count <= 8:
        total = wa_pop[value]*1000
        pop_total.append(total)
        value += 1
        count += 1
    return pop_total

In [24]:
act_pop = actual_pop()

In [25]:
data = {"year": [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
       "population": act_pop}
wa_pop_year = pd.DataFrame(data)

## Merge both DS

In [26]:
merged_df = pd.merge(wa_gdp_year, wa_pop_year, how="outer", on=["year"])
merged_df

   year           gdp  population
0  2014  1.762592e+12   7057531.0
1  2015  1.866759e+12   7167287.0
2  2016  1.949100e+12   7299961.0
3  2017  2.079771e+12   7427951.0
4  2018  2.257923e+12   7526793.0
5  2019  2.391495e+12   7614024.0
6  2020  2.417015e+12   7718785.0
7  2021  2.670307e+12   7738692.0

## Finding GDP PER CAPITA of Washington

In [27]:
population_list = merged_df.population.to_list()

gdp_list = merged_df.gdp.to_list()

per_capita_list = []

#function to divide gdp by population

def per_capita():

    for population, gdp in zip(population_list, gdp_list):

        per_capita_list.append((gdp/population))
        
    return per_capita_list

## Inserting the per capita as a new column

In [28]:
per_capita_list = per_capita()

In [29]:
capita_data = {"gdp_per_capita": per_capita_list}
capita_column = pd.DataFrame(capita_data)

In [30]:
merged_df.insert(3, "gdp_per_capita", capita_column, True)

In [31]:
merged_df = pd.DataFrame(merged_df)

## Adding marijuana tax

In [32]:
wa_mj_tax = pd.read_csv("../marijuana_tax/washington_marijuana_cleaned.csv")
wa_mj_tax = pd.DataFrame(wa_mj_tax)

In [33]:
# I want the estimated state sales tax collection
wa_mj_tax

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Weighted average local sales tax rate6,Estimated local sales tax collections
0,2014_3,"23,423,000","12,208,000","35,631,000",-,"35,631,000","2,316,000",2.47%,"880,000"
1,2014_4,"27,529,000","28,443,000","55,972,000",-,"55,972,000","3,638,000",2.47%,"1,382,000"
2,2014_5,"50,952,000","40,651,000","91,603,000",-,"91,603,000","5,954,000",NaN,"2,262,000"
3,2015_1,"31,473,000","50,545,000","82,018,000",-,"82,018,000","5,331,000",2.47%,"2,026,000"
4,2015_2,"35,477,000","88,435,000","123,912,000",-,"123,912,000","8,054,000",2.47%,"3,060,000"
5,2015_3,"23,495,000","104,631,000","128,126,000",-,"128,126,000","8,328,000",2.50%,"3,202,000"
6,2015_4,"21,269,000","113,964,000","135,233,000",-,"135,233,000","8,790,000",2.50%,"3,380,000"
7,2015_5,"111,714,000","357,575,000","469,289,000",-,"469,289,000","30,503,000",NaN,"11,668,000"
8,2016_1,"15,904,000","128,639,000","144,543,000",-,"144,543,000","9,395,000",2.50%,"3,612,000"
9,2016_2,"17,410,000","154,714,000","172,124,000",-,"172,124,000","11,188,000",2.50%,"4,301,000"
10,2016_3,-,"203,312,000","203,312,000","1,263,000","202,049,000","13,133,000",2.54%,"5,123,000"
11,2016_4,-,"209,567,000","209,567,000","2,453,000","207,114,000","13,462,000",2.54%,"5,251,000"
12,2016_5,"33,314,000","696,232,000","729,546,000","3,716,000","725,830,000","47,178,000",NaN,"18,287,000"
13,2017_1,-,"211,731,000","211,731,000","2,845,000","208,886,000","13,578,000",2.54%,"5,296,000"
14,2017_2,-,"226,326,000","226,326,000","3,086,000","223,240,000","14,511,000",2.54%,"5,660,000"
15,2017_3,-,"246,290,000","246,290,000","3,093,000","243,196,000","15,808,000",2.82%,"6,868,000"
16,2017_4,-,"241,067,000","241,067,000","2,923,000","238,144,000","15,479,000",2.82%,"6,725,000"
17,2017_5,-,"925,414,000","925,414,000","11,947,000","913,466,000","59,376,000",NaN,"24,549,000"
18,2018_1,-,"238,989,000","238,989,000","3,002,000","235,987,000","15,339,000",2.82%,"6,664,000"
19,2018_2,-,"250,136,000","250,136,000","3,068,000","247,067,000","16,059,000",2.82%,"6,977,000"
20,2018_3,-,"266,518,000","266,518,000","3,090,000","263,427,000","17,123,000",2.83%,"7,444,000"
21,2018_4,-,"261,542,000","261,542,000","3,034,000","258,507,000","16,803,000",2.83%,"7,305,000"
22,2018_5,-,"1,017,185,000","1,017,185,000","12,194,000","1,004,988,000","65,324,000",NaN,"28,390,000"
23,2019_1,-,"254,504,000","254,504,000","2,997,000","251,507,000","16,348,000",2.83%,"7,108,000"
24,2019_2,-,"268,558,000","268,558,000","3,294,000","265,264,000","17,242,000",2.83%,"7,496,000"
25,2019_3,-,"295,644,000","295,644,000","3,701,000","291,943,000","18,976,000",2.86%,"8,335,000"
26,2019_4,-,"291,910,000","291,910,000","3,357,000","288,553,000","18,756,000",2.86%,"8,238,000"
27,2019_5,-,"1,110,616,000","1,110,616,000","13,349,000","1,097,267,000","71,322,000",NaN,"31,177,000"
28,2020_1,-,"306,606,000","306,606,000","3,484,000","303,122,000","19,703,000",2.86%,"8,654,000"
29,2020_2,-,"372,243,000","372,243,000","4,090,000","368,153,000","23,930,000",2.86%,"10,511,000"
30,2020_3,-,"381,378,000","381,378,000","4,432,000","376,946,000","24,501,000",2.85%,"10,754,000"
31,2020_4,-,"368,516,000","368,516,000","4,281,000","364,235,000","23,675,000",2.85%,"10,392,000"
32,2020_5,-,"1,428,743,000","1,428,743,000","16,287,000","1,412,456,000","91,809,000",NaN,"40,311,000"
33,2021_1,-,"370,886,000","370,886,000","4,323,000","366,563,000","23,827,000",2.85%,"10,458,000"
34,2021_2,-,"380,546,000","380,546,000","4,328,000","376,218,000","24,454,000",2.85%,"10,733,000"
35,2021_3,-,"366,704,000","366,704,000","4,141,000","362,563,000","23,567,000",2.89%,"10,474,000"
36,2021_4,-,"348,538,000","348,538,000","3,687,000","344,851,000","22,415,000",2.89%,"9,963,000"
37,2021_5,-,"1,466,674,000","1,466,674,000","16,479,000","1,450,195,000","94,263,000",NaN,"41,628,000"
38,2022_1,-,"323,900,000","323,900,000","3,463,000","320,436,000","20,828,000",2.89%,"9,257,000"
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
wa_mj_tax = wa_mj_tax.loc[{2, 7, 12, 17, 22, 27, 32, 37}]

In [35]:
wa_mj_tax = wa_mj_tax.sort_index()
wa_mj_tax

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Weighted average local sales tax rate6,Estimated local sales tax collections
2,2014_5,"50,952,000","40,651,000","91,603,000",-,"91,603,000","5,954,000",NaN,"2,262,000"
7,2015_5,"111,714,000","357,575,000","469,289,000",-,"469,289,000","30,503,000",NaN,"11,668,000"
12,2016_5,"33,314,000","696,232,000","729,546,000","3,716,000","725,830,000","47,178,000",NaN,"18,287,000"
17,2017_5,-,"925,414,000","925,414,000","11,947,000","913,466,000","59,376,000",NaN,"24,549,000"
22,2018_5,-,"1,017,185,000","1,017,185,000","12,194,000","1,004,988,000","65,324,000",NaN,"28,390,000"
27,2019_5,-,"1,110,616,000","1,110,616,000","13,349,000","1,097,267,000","71,322,000",NaN,"31,177,000"
32,2020_5,-,"1,428,743,000","1,428,743,000","16,287,000","1,412,456,000","91,809,000",NaN,"40,311,000"
37,2021_5,-,"1,466,674,000","1,466,674,000","16,479,000","1,450,195,000","94,263,000",NaN,"41,628,000"

In [36]:
# need to drop the columns I don't need
wa_mj_tax.drop(columns=["Taxable retail sales as reported by cannabis collectives (before tax)3", "Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4"], inplace= True)

In [ ]:
wa_mj_tax.drop(columns=["Total retail value of cannabis and cannabis products (before tax)", "Sales exempt from sales tax for medical purposes5"])