# Colorado Economic Figures
##### The data set i'm looking over is from the Federal Reserve Economic Data https://fred.stlouisfed.org and I found it to be reliable because the data was taken from the US Census.

In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_gdp = pd.read_csv("../state_gdp/colorado_gdp_cleaned.csv")
df_household = pd.read_csv("../state_med_household_income/colorado_household_income_cleaned.csv")
df_pop = pd.read_csv("../state_pop/colorado_pop_cleaned.csv")
df_taxes = pd.read_csv("../state_tax_collection/colorado_taxes_cleaned.csv")

In [8]:
# colorado gdp
df_gdp.head()
#df_gdp.info()
# normalized data
from sklearn import preprocessing
gdp_scaler = preprocessing.MinMaxScaler()
gdp_names = df_gdp.columns
gdp_d = gdp_scaler.fit_transform(df_gdp)
gdp_scaled_df = pd.DataFrame(gdp_d, columns=gdp_names)
gdp_scaled_df

        year  dollars (millions)
0   0.000000            0.000000
1   0.041667            0.047120
2   0.083333            0.094248
3   0.125000            0.151432
4   0.166667            0.174700
5   0.208333            0.186359
6   0.250000            0.207786
7   0.291667            0.235994
8   0.333333            0.294289
9   0.375000            0.335908
10  0.416667            0.391337
11  0.458333            0.427911
12  0.500000            0.401094
13  0.541667            0.425906
14  0.583333            0.458238
15  0.625000            0.490889
16  0.666667            0.544626
17  0.708333            0.605677
18  0.750000            0.644894
19  0.791667            0.677137
20  0.833333            0.743746
21  0.875000            0.822775
22  0.916667            0.895723
23  0.958333            0.861927
24  1.000000            1.000000

In [4]:
# colorado median household income
df_household.head()
df_household.info()
# normalized data
'''from sklearn import preprocessing
household_scaler = preprocessing.MinMaxScaler()
household_names = df_household.columns
household_d = household_scaler.fit_transform(df_household)
household_scaled_df = pd.DataFrame(household_d, columns=household_names)
household_scaled_df '''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     37 non-null     int64
 1   dollars  37 non-null     int64
dtypes: int64(2)
memory usage: 720.0 bytes

'from sklearn import preprocessing\nhousehold_scaler = preprocessing.MinMaxScaler()\nhousehold_names = df_household.columns\nhousehold_d = household_scaler.fit_transform(df_household)\nhousehold_scaled_df = pd.DataFrame(household_d, columns=household_names)\nhousehold_scaled_df '

In [5]:
# colorado population
df_pop.head()
df_pop.info()

'''from sklearn import preprocessing
pop_scaler = preprocessing.MinMaxScaler()
pop_names = df_pop.columns
pop_d = pop_scaler.fit_transform(df_pop)
pop_scaled_df = pd.DataFrame(pop_d, columns=pop_names)
pop_scaled_df '''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          122 non-null    int64
 1   colorado_pop  122 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 2.0 KB

'from sklearn import preprocessing\npop_scaler = preprocessing.MinMaxScaler()\npop_names = df_pop.columns\npop_d = pop_scaler.fit_transform(df_pop)\npop_scaled_df = pd.DataFrame(pop_d, columns=pop_names)\npop_scaled_df '

In [6]:
# colorado taxed income
df_taxes.head()
df_taxes.info()
'''from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
names = df.columns
d = scaler.fit_transform(df)
scaled_df = pd.DataFrame(d, columns=names)
scaled_df '''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     72 non-null     int64
 1   dollars  72 non-null     int64
dtypes: int64(2)
memory usage: 1.2 KB

'from sklearn import preprocessing\nscaler = preprocessing.MinMaxScaler()\nnames = df.columns\nd = scaler.fit_transform(df)\nscaled_df = pd.DataFrame(d, columns=names)\nscaled_df '