# Oregon marijuana tax
#### The data set i'm looking over is from the Oregon Department of Revenue and I looked into this research because of the reliability. This information will give me the volume of sales that were made in Oregon. I can use this to compare to other legalized states and see if there is any relationship among growth of state economy

In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px

In [16]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv("../marijuana_tax/oregon_marijuana_cleaned.csv")
df

,Month,State Tax Received,Local Tax Received,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Feb 2016,"$2,484,170",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Mar 2016,"$4,358,754",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Apr 2016,"$3,735,111",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,May 2016,"$4,339,440",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Jun 2016,"$5,735,508",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Jul 2016,"$5,533,949",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Aug 2016,"$7,345,281",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Sep 2016,"$6,679,585",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Oct 2016,"$7,831,157",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Nov 2016,"$6,463,877",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Dec 2016,"$5,647,600",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,FY 2016,"$60,154,432",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jan 2017,"$5,261,096",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Feb 2017,"$4,509,163","$682,601",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Mar 2017,"$4,476,032","$705,927",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Apr 2017,"$4,484,514","$685,289",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,May 2017,"$5,734,618","$903,169",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Jun 2017,"$6,297,025","$980,297",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,Jul 2017,"$5,165,585","$778,484",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,Aug 2017,"$6,771,924","$1,056,064",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
20,Sep 2017,"$6,442,786","$1,002,240",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Oct 2017,"$6,217,860","$1,003,269",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
22,Nov 2017,"$7,044,311","$1,065,975",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Dec 2017,"$6,241,332","$935,358",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
24,FY 2017,"$68,646,246","$9,798,673",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jan 2018,"$8,001,999","$1,281,581",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26,Feb 2018,"$6,700,855","$1,007,936",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Mar 2018,"$6,768,304","$1,071,102",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Apr 2018,"$7,653,882","$1,215,050",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
29,May 2018,"$7,783,565","$1,217,778",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
30,Jun 2018,"$7,411,327","$1,149,289",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
31,Jul 2018,"$8,752,076","$1,347,574",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
32,Aug 2018,"$8,791,774","$1,322,820",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
33,Sep 2018,"$6,968,501","$1,085,921",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
34,Oct 2018,"$10,094,972","$1,514,507",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
35,Nov 2018,"$8,167,938","$1,259,334",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
36,Dec 2018,"$7,131,792","$1,077,844",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
37,FY 2018,"$94,226,985","$14,550,736",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Jan 2019,"$8,458,100","$1,306,892",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Feb 2019,"$8,097,179","$1,229,196",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
40,Mar 2019,"$8,112,899","$1,248,981",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Apr 2019,"$8,654,509","$1,361,001",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
42,May 2019,"$10,589,110","$1,664,420",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
43,Jun 2019,"$8,276,098","$1,284,497",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
44,Jul 2019,"$11,808,392","$1,831,632",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45,Aug 2019,"$9,953,007","$1,547,498",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
46,Sep 2019,"$10,618,396","$1,625,082",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
47,Oct 2019,"$10,214,204","$1,591,151",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Nov 2019,"$9,417,355","$1,473,068",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
49,Dec 2019,"$11,716,029","$1,840,399",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50,FY 2019,"$115,915,277","$18,003,816",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Jan 2020,"$10,611,867","$1,656,894",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
52,Feb 2020,"$9,238,148","$1,433,282",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
53,Mar 2020,"$9,083,054","$1,438,641",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
54,Apr 2020,"$12,501,435","$1,934,881",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
55,May 2020,"$12,830,074","$1,993,109",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
56,Jun 2020,"$15,158,388","$2,401,709",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
57,Jul 2020,"$15,299,923","$2,398,040",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
58,Aug 2020,"$15,828,592","$2,454,647",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59,Sep 2020,"$15,765,218","$2,445,050",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
60,Oct 2020,"$13,402,081","$2,174,757",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
61,Nov 2020,"$13,322,215","$2,085,889",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
62,Dec 2020,"$15,295,278","$2,381,276",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
63,FY 2020,"$158,336,274","$24,798,175",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Jan 2021,"$12,532,276","$1,967,313",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
65,Feb 2021,"$15,049,955","$2,307,375",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
66,Mar 2021,"$15,210,321","$2,450,010",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
67,Apr 2021,"$15,015,135","$2,365,215",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
68,May 2021,"$13,793,142","$2,118,453",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
69,Jun 2021,"$17,748,352","$2,853,407",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
70,Jul 2021,"$15,137,504","$2,340,445",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
71,Aug 2021,"$15,962,187","$2,565,453",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
72,Sep 2021,"$17,784,043","$2,740,551",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
73,Oct 2021,"$11,920,657","$1,895,146",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
74,Nov 2021,"$16,604,096","$2,608,192",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
75,Dec 2021,"$11,016,276","$1,778,517",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
76,FY 2021,"$177,773,943","$27,990,079",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Jan 2022,"$15,170,500","$2,372,773",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
78,Feb 2022,"$11,587,383","$1,835,154",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df = pd.DataFrame(data=df)
df

,Month,State Tax Received,Local Tax Received,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Feb 2016,"$2,484,170",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Mar 2016,"$4,358,754",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Apr 2016,"$3,735,111",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,May 2016,"$4,339,440",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Jun 2016,"$5,735,508",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Jul 2016,"$5,533,949",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Aug 2016,"$7,345,281",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Sep 2016,"$6,679,585",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Oct 2016,"$7,831,157",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Nov 2016,"$6,463,877",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Dec 2016,"$5,647,600",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,FY 2016,"$60,154,432",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jan 2017,"$5,261,096",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Feb 2017,"$4,509,163","$682,601",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Mar 2017,"$4,476,032","$705,927",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Apr 2017,"$4,484,514","$685,289",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,May 2017,"$5,734,618","$903,169",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Jun 2017,"$6,297,025","$980,297",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,Jul 2017,"$5,165,585","$778,484",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,Aug 2017,"$6,771,924","$1,056,064",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
20,Sep 2017,"$6,442,786","$1,002,240",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Oct 2017,"$6,217,860","$1,003,269",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
22,Nov 2017,"$7,044,311","$1,065,975",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Dec 2017,"$6,241,332","$935,358",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
24,FY 2017,"$68,646,246","$9,798,673",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jan 2018,"$8,001,999","$1,281,581",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26,Feb 2018,"$6,700,855","$1,007,936",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Mar 2018,"$6,768,304","$1,071,102",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Apr 2018,"$7,653,882","$1,215,050",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
29,May 2018,"$7,783,565","$1,217,778",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
30,Jun 2018,"$7,411,327","$1,149,289",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
31,Jul 2018,"$8,752,076","$1,347,574",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
32,Aug 2018,"$8,791,774","$1,322,820",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
33,Sep 2018,"$6,968,501","$1,085,921",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
34,Oct 2018,"$10,094,972","$1,514,507",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
35,Nov 2018,"$8,167,938","$1,259,334",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
36,Dec 2018,"$7,131,792","$1,077,844",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
37,FY 2018,"$94,226,985","$14,550,736",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Jan 2019,"$8,458,100","$1,306,892",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Feb 2019,"$8,097,179","$1,229,196",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
40,Mar 2019,"$8,112,899","$1,248,981",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Apr 2019,"$8,654,509","$1,361,001",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
42,May 2019,"$10,589,110","$1,664,420",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
43,Jun 2019,"$8,276,098","$1,284,497",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
44,Jul 2019,"$11,808,392","$1,831,632",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45,Aug 2019,"$9,953,007","$1,547,498",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
46,Sep 2019,"$10,618,396","$1,625,082",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
47,Oct 2019,"$10,214,204","$1,591,151",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Nov 2019,"$9,417,355","$1,473,068",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
49,Dec 2019,"$11,716,029","$1,840,399",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50,FY 2019,"$115,915,277","$18,003,816",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Jan 2020,"$10,611,867","$1,656,894",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
52,Feb 2020,"$9,238,148","$1,433,282",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
53,Mar 2020,"$9,083,054","$1,438,641",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
54,Apr 2020,"$12,501,435","$1,934,881",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
55,May 2020,"$12,830,074","$1,993,109",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
56,Jun 2020,"$15,158,388","$2,401,709",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
57,Jul 2020,"$15,299,923","$2,398,040",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
58,Aug 2020,"$15,828,592","$2,454,647",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59,Sep 2020,"$15,765,218","$2,445,050",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
60,Oct 2020,"$13,402,081","$2,174,757",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
61,Nov 2020,"$13,322,215","$2,085,889",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
62,Dec 2020,"$15,295,278","$2,381,276",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
63,FY 2020,"$158,336,274","$24,798,175",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Jan 2021,"$12,532,276","$1,967,313",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
65,Feb 2021,"$15,049,955","$2,307,375",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
66,Mar 2021,"$15,210,321","$2,450,010",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
67,Apr 2021,"$15,015,135","$2,365,215",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
68,May 2021,"$13,793,142","$2,118,453",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
69,Jun 2021,"$17,748,352","$2,853,407",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
70,Jul 2021,"$15,137,504","$2,340,445",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
71,Aug 2021,"$15,962,187","$2,565,453",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
72,Sep 2021,"$17,784,043","$2,740,551",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
73,Oct 2021,"$11,920,657","$1,895,146",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
74,Nov 2021,"$16,604,096","$2,608,192",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
75,Dec 2021,"$11,016,276","$1,778,517",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
76,FY 2021,"$177,773,943","$27,990,079",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Jan 2022,"$15,170,500","$2,372,773",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
78,Feb 2022,"$11,587,383","$1,835,154",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#dropna with a how parameter to drop rows with all elements missing
df.dropna(how='all', inplace=True)
df

,Month,State Tax Received,Local Tax Received,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Feb 2016,"$2,484,170",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Mar 2016,"$4,358,754",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Apr 2016,"$3,735,111",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,May 2016,"$4,339,440",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Jun 2016,"$5,735,508",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Jul 2016,"$5,533,949",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Aug 2016,"$7,345,281",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Sep 2016,"$6,679,585",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Oct 2016,"$7,831,157",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Nov 2016,"$6,463,877",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Dec 2016,"$5,647,600",$0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,FY 2016,"$60,154,432",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jan 2017,"$5,261,096",$0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Feb 2017,"$4,509,163","$682,601",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Mar 2017,"$4,476,032","$705,927",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Apr 2017,"$4,484,514","$685,289",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,May 2017,"$5,734,618","$903,169",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Jun 2017,"$6,297,025","$980,297",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,Jul 2017,"$5,165,585","$778,484",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,Aug 2017,"$6,771,924","$1,056,064",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
20,Sep 2017,"$6,442,786","$1,002,240",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Oct 2017,"$6,217,860","$1,003,269",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
22,Nov 2017,"$7,044,311","$1,065,975",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Dec 2017,"$6,241,332","$935,358",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
24,FY 2017,"$68,646,246","$9,798,673",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jan 2018,"$8,001,999","$1,281,581",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26,Feb 2018,"$6,700,855","$1,007,936",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Mar 2018,"$6,768,304","$1,071,102",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Apr 2018,"$7,653,882","$1,215,050",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
29,May 2018,"$7,783,565","$1,217,778",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
30,Jun 2018,"$7,411,327","$1,149,289",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
31,Jul 2018,"$8,752,076","$1,347,574",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
32,Aug 2018,"$8,791,774","$1,322,820",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
33,Sep 2018,"$6,968,501","$1,085,921",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
34,Oct 2018,"$10,094,972","$1,514,507",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
35,Nov 2018,"$8,167,938","$1,259,334",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
36,Dec 2018,"$7,131,792","$1,077,844",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
37,FY 2018,"$94,226,985","$14,550,736",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Jan 2019,"$8,458,100","$1,306,892",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Feb 2019,"$8,097,179","$1,229,196",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
40,Mar 2019,"$8,112,899","$1,248,981",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Apr 2019,"$8,654,509","$1,361,001",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
42,May 2019,"$10,589,110","$1,664,420",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
43,Jun 2019,"$8,276,098","$1,284,497",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
44,Jul 2019,"$11,808,392","$1,831,632",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45,Aug 2019,"$9,953,007","$1,547,498",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
46,Sep 2019,"$10,618,396","$1,625,082",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
47,Oct 2019,"$10,214,204","$1,591,151",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Nov 2019,"$9,417,355","$1,473,068",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
49,Dec 2019,"$11,716,029","$1,840,399",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50,FY 2019,"$115,915,277","$18,003,816",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Jan 2020,"$10,611,867","$1,656,894",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
52,Feb 2020,"$9,238,148","$1,433,282",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
53,Mar 2020,"$9,083,054","$1,438,641",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
54,Apr 2020,"$12,501,435","$1,934,881",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
55,May 2020,"$12,830,074","$1,993,109",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
56,Jun 2020,"$15,158,388","$2,401,709",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
57,Jul 2020,"$15,299,923","$2,398,040",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
58,Aug 2020,"$15,828,592","$2,454,647",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59,Sep 2020,"$15,765,218","$2,445,050",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
60,Oct 2020,"$13,402,081","$2,174,757",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
61,Nov 2020,"$13,322,215","$2,085,889",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
62,Dec 2020,"$15,295,278","$2,381,276",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
63,FY 2020,"$158,336,274","$24,798,175",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Jan 2021,"$12,532,276","$1,967,313",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
65,Feb 2021,"$15,049,955","$2,307,375",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
66,Mar 2021,"$15,210,321","$2,450,010",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
67,Apr 2021,"$15,015,135","$2,365,215",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
68,May 2021,"$13,793,142","$2,118,453",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
69,Jun 2021,"$17,748,352","$2,853,407",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
70,Jul 2021,"$15,137,504","$2,340,445",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
71,Aug 2021,"$15,962,187","$2,565,453",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
72,Sep 2021,"$17,784,043","$2,740,551",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
73,Oct 2021,"$11,920,657","$1,895,146",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
74,Nov 2021,"$16,604,096","$2,608,192",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
75,Dec 2021,"$11,016,276","$1,778,517",0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
76,FY 2021,"$177,773,943","$27,990,079",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Jan 2022,"$15,170,500","$2,372,773",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
78,Feb 2022,"$11,587,383","$1,835,154",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#dropna with an axis parameter to drop columns with a NaN value
df.dropna(axis='columns', inplace=True)
df

       Month State Tax Received Local Tax Received
0   Feb 2016         $2,484,170                 $0
1   Mar 2016         $4,358,754                 $0
2   Apr 2016         $3,735,111                 $0
3   May 2016         $4,339,440                 $0
4   Jun 2016         $5,735,508                 $0
5   Jul 2016         $5,533,949                 $0
6   Aug 2016         $7,345,281                 $0
7   Sep 2016         $6,679,585                 $0
8   Oct 2016         $7,831,157                 $0
9   Nov 2016         $6,463,877                 $0
10  Dec 2016         $5,647,600                 $0
11   FY 2016        $60,154,432                 $0
12  Jan 2017         $5,261,096                 $0
13  Feb 2017         $4,509,163           $682,601
14  Mar 2017         $4,476,032           $705,927
15  Apr 2017         $4,484,514           $685,289
16  May 2017         $5,734,618           $903,169
17  Jun 2017         $6,297,025           $980,297
18  Jul 2017         $5,165,585           $778,484
19  Aug 2017         $6,771,924         $1,056,064
20  Sep 2017         $6,442,786         $1,002,240
21  Oct 2017         $6,217,860         $1,003,269
22  Nov 2017         $7,044,311         $1,065,975
23  Dec 2017         $6,241,332           $935,358
24   FY 2017        $68,646,246         $9,798,673
25  Jan 2018         $8,001,999         $1,281,581
26  Feb 2018         $6,700,855         $1,007,936
27  Mar 2018         $6,768,304         $1,071,102
28  Apr 2018         $7,653,882         $1,215,050
29  May 2018         $7,783,565         $1,217,778
30  Jun 2018         $7,411,327         $1,149,289
31  Jul 2018         $8,752,076         $1,347,574
32  Aug 2018         $8,791,774         $1,322,820
33  Sep 2018         $6,968,501         $1,085,921
34  Oct 2018        $10,094,972         $1,514,507
35  Nov 2018         $8,167,938         $1,259,334
36  Dec 2018         $7,131,792         $1,077,844
37   FY 2018        $94,226,985        $14,550,736
38  Jan 2019         $8,458,100         $1,306,892
39  Feb 2019         $8,097,179         $1,229,196
40  Mar 2019         $8,112,899         $1,248,981
41  Apr 2019         $8,654,509         $1,361,001
42  May 2019        $10,589,110         $1,664,420
43  Jun 2019         $8,276,098         $1,284,497
44  Jul 2019        $11,808,392         $1,831,632
45  Aug 2019         $9,953,007         $1,547,498
46  Sep 2019        $10,618,396         $1,625,082
47  Oct 2019        $10,214,204         $1,591,151
48  Nov 2019         $9,417,355         $1,473,068
49  Dec 2019        $11,716,029         $1,840,399
50   FY 2019       $115,915,277        $18,003,816
51  Jan 2020        $10,611,867         $1,656,894
52  Feb 2020         $9,238,148         $1,433,282
53  Mar 2020         $9,083,054         $1,438,641
54  Apr 2020        $12,501,435         $1,934,881
55  May 2020        $12,830,074         $1,993,109
56  Jun 2020        $15,158,388         $2,401,709
57  Jul 2020        $15,299,923         $2,398,040
58  Aug 2020        $15,828,592         $2,454,647
59  Sep 2020        $15,765,218         $2,445,050
60  Oct 2020        $13,402,081         $2,174,757
61  Nov 2020        $13,322,215         $2,085,889
62  Dec 2020        $15,295,278         $2,381,276
63   FY 2020       $158,336,274        $24,798,175
64  Jan 2021        $12,532,276         $1,967,313
65  Feb 2021        $15,049,955         $2,307,375
66  Mar 2021        $15,210,321         $2,450,010
67  Apr 2021        $15,015,135         $2,365,215
68  May 2021        $13,793,142         $2,118,453
69  Jun 2021        $17,748,352         $2,853,407
70  Jul 2021        $15,137,504         $2,340,445
71  Aug 2021        $15,962,187         $2,565,453
72  Sep 2021        $17,784,043         $2,740,551
73  Oct 2021        $11,920,657         $1,895,146
74  Nov 2021        $16,604,096         $2,608,192
75  Dec 2021        $11,016,276         $1,778,517
76   FY 2021       $177,773,943        $27,990,079
77  Jan 2022        $15,170,500         $2,372,773
78  Feb 2022        $11,587,383         $1,835,154

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79 entries, 0 to 78
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Month               79 non-null     object
 1   State Tax Received  79 non-null     object
 2   Local Tax Received  79 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [21]:
# cleaning the $ and , in order to convert the Dtypes
df.replace({'\$':'', '\,':'', '\(':'', '\)':''}, regex = True, inplace= True)
df.head()

      Month State Tax Received Local Tax Received
0  Feb 2016            2484170                  0
1  Mar 2016            4358754                  0
2  Apr 2016            3735111                  0
3  May 2016            4339440                  0
4  Jun 2016            5735508                  0

In [22]:
df['State Tax Received'] = df['State Tax Received'].astype(str).astype(int)
df['Local Tax Received'] = df['Local Tax Received'].astype(str).astype(int)
df.head()

      Month  State Tax Received  Local Tax Received
0  Feb 2016             2484170                   0
1  Mar 2016             4358754                   0
2  Apr 2016             3735111                   0
3  May 2016             4339440                   0
4  Jun 2016             5735508                   0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79 entries, 0 to 78
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Month               79 non-null     object
 1   State Tax Received  79 non-null     int64
 2   Local Tax Received  79 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

In [23]:
df.rename(columns = {"State Tax Received":"state_tax_received", "Local Tax Received":"local_tax_received", "Month":"month"}, inplace=True)
df

       month  state_tax_received  local_tax_received
0   Feb 2016             2484170                   0
1   Mar 2016             4358754                   0
2   Apr 2016             3735111                   0
3   May 2016             4339440                   0
4   Jun 2016             5735508                   0
5   Jul 2016             5533949                   0
6   Aug 2016             7345281                   0
7   Sep 2016             6679585                   0
8   Oct 2016             7831157                   0
9   Nov 2016             6463877                   0
10  Dec 2016             5647600                   0
11   FY 2016            60154432                   0
12  Jan 2017             5261096                   0
13  Feb 2017             4509163              682601
14  Mar 2017             4476032              705927
15  Apr 2017             4484514              685289
16  May 2017             5734618              903169
17  Jun 2017             6297025              980297
18  Jul 2017             5165585              778484
19  Aug 2017             6771924             1056064
20  Sep 2017             6442786             1002240
21  Oct 2017             6217860             1003269
22  Nov 2017             7044311             1065975
23  Dec 2017             6241332              935358
24   FY 2017            68646246             9798673
25  Jan 2018             8001999             1281581
26  Feb 2018             6700855             1007936
27  Mar 2018             6768304             1071102
28  Apr 2018             7653882             1215050
29  May 2018             7783565             1217778
30  Jun 2018             7411327             1149289
31  Jul 2018             8752076             1347574
32  Aug 2018             8791774             1322820
33  Sep 2018             6968501             1085921
34  Oct 2018            10094972             1514507
35  Nov 2018             8167938             1259334
36  Dec 2018             7131792             1077844
37   FY 2018            94226985            14550736
38  Jan 2019             8458100             1306892
39  Feb 2019             8097179             1229196
40  Mar 2019             8112899             1248981
41  Apr 2019             8654509             1361001
42  May 2019            10589110             1664420
43  Jun 2019             8276098             1284497
44  Jul 2019            11808392             1831632
45  Aug 2019             9953007             1547498
46  Sep 2019            10618396             1625082
47  Oct 2019            10214204             1591151
48  Nov 2019             9417355             1473068
49  Dec 2019            11716029             1840399
50   FY 2019           115915277            18003816
51  Jan 2020            10611867             1656894
52  Feb 2020             9238148             1433282
53  Mar 2020             9083054             1438641
54  Apr 2020            12501435             1934881
55  May 2020            12830074             1993109
56  Jun 2020            15158388             2401709
57  Jul 2020            15299923             2398040
58  Aug 2020            15828592             2454647
59  Sep 2020            15765218             2445050
60  Oct 2020            13402081             2174757
61  Nov 2020            13322215             2085889
62  Dec 2020            15295278             2381276
63   FY 2020           158336274            24798175
64  Jan 2021            12532276             1967313
65  Feb 2021            15049955             2307375
66  Mar 2021            15210321             2450010
67  Apr 2021            15015135             2365215
68  May 2021            13793142             2118453
69  Jun 2021            17748352             2853407
70  Jul 2021            15137504             2340445
71  Aug 2021            15962187             2565453
72  Sep 2021            17784043             2740551
73  Oct 2021            11920657             1895146
74  Nov 2021            16604096             2608192
75  Dec 2021            11016276             1778517
76   FY 2021           177773943            27990079
77  Jan 2022            15170500             2372773
78  Feb 2022            11587383             1835154

In [24]:
#dropping full year report 
df_taxes_months = df.drop(index=[37, 11, 50, 63, 76])
# 37, 11, 50, 63, 76
df_taxes_months

       month  state_tax_received  local_tax_received
0   Feb 2016             2484170                   0
1   Mar 2016             4358754                   0
2   Apr 2016             3735111                   0
3   May 2016             4339440                   0
4   Jun 2016             5735508                   0
5   Jul 2016             5533949                   0
6   Aug 2016             7345281                   0
7   Sep 2016             6679585                   0
8   Oct 2016             7831157                   0
9   Nov 2016             6463877                   0
10  Dec 2016             5647600                   0
12  Jan 2017             5261096                   0
13  Feb 2017             4509163              682601
14  Mar 2017             4476032              705927
15  Apr 2017             4484514              685289
16  May 2017             5734618              903169
17  Jun 2017             6297025              980297
18  Jul 2017             5165585              778484
19  Aug 2017             6771924             1056064
20  Sep 2017             6442786             1002240
21  Oct 2017             6217860             1003269
22  Nov 2017             7044311             1065975
23  Dec 2017             6241332              935358
24   FY 2017            68646246             9798673
25  Jan 2018             8001999             1281581
26  Feb 2018             6700855             1007936
27  Mar 2018             6768304             1071102
28  Apr 2018             7653882             1215050
29  May 2018             7783565             1217778
30  Jun 2018             7411327             1149289
31  Jul 2018             8752076             1347574
32  Aug 2018             8791774             1322820
33  Sep 2018             6968501             1085921
34  Oct 2018            10094972             1514507
35  Nov 2018             8167938             1259334
36  Dec 2018             7131792             1077844
38  Jan 2019             8458100             1306892
39  Feb 2019             8097179             1229196
40  Mar 2019             8112899             1248981
41  Apr 2019             8654509             1361001
42  May 2019            10589110             1664420
43  Jun 2019             8276098             1284497
44  Jul 2019            11808392             1831632
45  Aug 2019             9953007             1547498
46  Sep 2019            10618396             1625082
47  Oct 2019            10214204             1591151
48  Nov 2019             9417355             1473068
49  Dec 2019            11716029             1840399
51  Jan 2020            10611867             1656894
52  Feb 2020             9238148             1433282
53  Mar 2020             9083054             1438641
54  Apr 2020            12501435             1934881
55  May 2020            12830074             1993109
56  Jun 2020            15158388             2401709
57  Jul 2020            15299923             2398040
58  Aug 2020            15828592             2454647
59  Sep 2020            15765218             2445050
60  Oct 2020            13402081             2174757
61  Nov 2020            13322215             2085889
62  Dec 2020            15295278             2381276
64  Jan 2021            12532276             1967313
65  Feb 2021            15049955             2307375
66  Mar 2021            15210321             2450010
67  Apr 2021            15015135             2365215
68  May 2021            13793142             2118453
69  Jun 2021            17748352             2853407
70  Jul 2021            15137504             2340445
71  Aug 2021            15962187             2565453
72  Sep 2021            17784043             2740551
73  Oct 2021            11920657             1895146
74  Nov 2021            16604096             2608192
75  Dec 2021            11016276             1778517
77  Jan 2022            15170500             2372773
78  Feb 2022            11587383             1835154

In [25]:
df_taxes_months.reset_index()

    index     month  state_tax_received  local_tax_received
0       0  Feb 2016             2484170                   0
1       1  Mar 2016             4358754                   0
2       2  Apr 2016             3735111                   0
3       3  May 2016             4339440                   0
4       4  Jun 2016             5735508                   0
5       5  Jul 2016             5533949                   0
6       6  Aug 2016             7345281                   0
7       7  Sep 2016             6679585                   0
8       8  Oct 2016             7831157                   0
9       9  Nov 2016             6463877                   0
10     10  Dec 2016             5647600                   0
11     12  Jan 2017             5261096                   0
12     13  Feb 2017             4509163              682601
13     14  Mar 2017             4476032              705927
14     15  Apr 2017             4484514              685289
15     16  May 2017             5734618              903169
16     17  Jun 2017             6297025              980297
17     18  Jul 2017             5165585              778484
18     19  Aug 2017             6771924             1056064
19     20  Sep 2017             6442786             1002240
20     21  Oct 2017             6217860             1003269
21     22  Nov 2017             7044311             1065975
22     23  Dec 2017             6241332              935358
23     24   FY 2017            68646246             9798673
24     25  Jan 2018             8001999             1281581
25     26  Feb 2018             6700855             1007936
26     27  Mar 2018             6768304             1071102
27     28  Apr 2018             7653882             1215050
28     29  May 2018             7783565             1217778
29     30  Jun 2018             7411327             1149289
30     31  Jul 2018             8752076             1347574
31     32  Aug 2018             8791774             1322820
32     33  Sep 2018             6968501             1085921
33     34  Oct 2018            10094972             1514507
34     35  Nov 2018             8167938             1259334
35     36  Dec 2018             7131792             1077844
36     38  Jan 2019             8458100             1306892
37     39  Feb 2019             8097179             1229196
38     40  Mar 2019             8112899             1248981
39     41  Apr 2019             8654509             1361001
40     42  May 2019            10589110             1664420
41     43  Jun 2019             8276098             1284497
42     44  Jul 2019            11808392             1831632
43     45  Aug 2019             9953007             1547498
44     46  Sep 2019            10618396             1625082
45     47  Oct 2019            10214204             1591151
46     48  Nov 2019             9417355             1473068
47     49  Dec 2019            11716029             1840399
48     51  Jan 2020            10611867             1656894
49     52  Feb 2020             9238148             1433282
50     53  Mar 2020             9083054             1438641
51     54  Apr 2020            12501435             1934881
52     55  May 2020            12830074             1993109
53     56  Jun 2020            15158388             2401709
54     57  Jul 2020            15299923             2398040
55     58  Aug 2020            15828592             2454647
56     59  Sep 2020            15765218             2445050
57     60  Oct 2020            13402081             2174757
58     61  Nov 2020            13322215             2085889
59     62  Dec 2020            15295278             2381276
60     64  Jan 2021            12532276             1967313
61     65  Feb 2021            15049955             2307375
62     66  Mar 2021            15210321             2450010
63     67  Apr 2021            15015135             2365215
64     68  May 2021            13793142             2118453
65     69  Jun 2021            17748352             2853407
66     70  Jul 2021            15137504             2340445
67     71  Aug 2021            15962187             2565453
68     72  Sep 2021            17784043             2740551
69     73  Oct 2021            11920657             1895146
70     74  Nov 2021            16604096             2608192
71     75  Dec 2021            11016276             1778517
72     77  Jan 2022            15170500             2372773
73     78  Feb 2022            11587383             1835154

In [26]:
df_taxes_months = df_taxes_months.drop("month", axis=1)
df_taxes_months

    state_tax_received  local_tax_received
0              2484170                   0
1              4358754                   0
2              3735111                   0
3              4339440                   0
4              5735508                   0
5              5533949                   0
6              7345281                   0
7              6679585                   0
8              7831157                   0
9              6463877                   0
10             5647600                   0
12             5261096                   0
13             4509163              682601
14             4476032              705927
15             4484514              685289
16             5734618              903169
17             6297025              980297
18             5165585              778484
19             6771924             1056064
20             6442786             1002240
21             6217860             1003269
22             7044311             1065975
23             6241332              935358
24            68646246             9798673
25             8001999             1281581
26             6700855             1007936
27             6768304             1071102
28             7653882             1215050
29             7783565             1217778
30             7411327             1149289
31             8752076             1347574
32             8791774             1322820
33             6968501             1085921
34            10094972             1514507
35             8167938             1259334
36             7131792             1077844
38             8458100             1306892
39             8097179             1229196
40             8112899             1248981
41             8654509             1361001
42            10589110             1664420
43             8276098             1284497
44            11808392             1831632
45             9953007             1547498
46            10618396             1625082
47            10214204             1591151
48             9417355             1473068
49            11716029             1840399
51            10611867             1656894
52             9238148             1433282
53             9083054             1438641
54            12501435             1934881
55            12830074             1993109
56            15158388             2401709
57            15299923             2398040
58            15828592             2454647
59            15765218             2445050
60            13402081             2174757
61            13322215             2085889
62            15295278             2381276
64            12532276             1967313
65            15049955             2307375
66            15210321             2450010
67            15015135             2365215
68            13793142             2118453
69            17748352             2853407
70            15137504             2340445
71            15962187             2565453
72            17784043             2740551
73            11920657             1895146
74            16604096             2608192
75            11016276             1778517
77            15170500             2372773
78            11587383             1835154

In [14]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
names = df_taxes_months.columns
d = scaler.fit_transform(df_taxes_months)
scaled_df = pd.DataFrame(d, columns=names)
scaled_df

    state_tax_received  local_tax_received
0             0.000000            0.000000
1             0.028333            0.000000
2             0.018907            0.000000
3             0.028041            0.000000
4             0.049142            0.000000
5             0.046096            0.000000
6             0.073473            0.000000
7             0.063411            0.000000
8             0.080816            0.000000
9             0.060151            0.000000
10            0.047813            0.000000
11            0.041972            0.000000
12            0.030607            0.069663
13            0.030106            0.072043
14            0.030234            0.069937
15            0.049129            0.092173
16            0.057629            0.100044
17            0.040528            0.079448
18            0.064807            0.107776
19            0.059832            0.102283
20            0.056432            0.102388
21            0.068924            0.108788
22            0.056787            0.095458
23            1.000000            1.000000
24            0.083399            0.130791
25            0.063733            0.102865
26            0.064752            0.109311
27            0.078137            0.124001
28            0.080097            0.124280
29            0.074471            0.117290
30            0.094736            0.137526
31            0.095336            0.135000
32            0.067778            0.110823
33            0.115033            0.154562
34            0.085907            0.128521
35            0.070246            0.109999
36            0.090292            0.133374
37            0.084837            0.125445
38            0.085075            0.127464
39            0.093261            0.138896
40            0.122501            0.169862
41            0.087542            0.131089
42            0.140930            0.186927
43            0.112887            0.157929
44            0.122944            0.165847
45            0.116835            0.162384
46            0.104791            0.150333
47            0.139534            0.187821
48            0.122845            0.169094
49            0.102082            0.146273
50            0.099738            0.146820
51            0.151405            0.197464
52            0.156372            0.203406
53            0.191563            0.245106
54            0.193702            0.244731
55            0.201693            0.250508
56            0.200735            0.249529
57            0.165018            0.221944
58            0.163811            0.212875
59            0.193632            0.243020
60            0.151871            0.200773
61            0.189924            0.235478
62            0.192348            0.250035
63            0.189398            0.241381
64            0.170928            0.216198
65            0.230709            0.291203
66            0.191248            0.238853
67            0.203712            0.261816
68            0.231248            0.279686
69            0.142627            0.193408
70            0.213414            0.266178
71            0.128958            0.181506
72            0.191746            0.242152
73            0.137590            0.187286