# Washington marijuana tax 
##### The data set i'm looking over is from the Colorado Department of Revenue and I looked into this research because of the reliability. This information will give me the volume of sales that were made in Colorado. I can use this to compare to other legalized states and see if there is any relationship among growth of state economy.

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv('../marijuana_tax/washington_marijuana_cleaned.csv')
df

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Weighted average local sales tax rate6,Estimated local sales tax collections
0,2014_3,"23,423,000","12,208,000","35,631,000",-,"35,631,000","2,316,000",2.47%,"880,000"
1,2014_4,"27,529,000","28,443,000","55,972,000",-,"55,972,000","3,638,000",2.47%,"1,382,000"
2,2014_5,"50,952,000","40,651,000","91,603,000",-,"91,603,000","5,954,000",NaN,"2,262,000"
3,2015_1,"31,473,000","50,545,000","82,018,000",-,"82,018,000","5,331,000",2.47%,"2,026,000"
4,2015_2,"35,477,000","88,435,000","123,912,000",-,"123,912,000","8,054,000",2.47%,"3,060,000"
5,2015_3,"23,495,000","104,631,000","128,126,000",-,"128,126,000","8,328,000",2.50%,"3,202,000"
6,2015_4,"21,269,000","113,964,000","135,233,000",-,"135,233,000","8,790,000",2.50%,"3,380,000"
7,2015_5,"111,714,000","357,575,000","469,289,000",-,"469,289,000","30,503,000",NaN,"11,668,000"
8,2016_1,"15,904,000","128,639,000","144,543,000",-,"144,543,000","9,395,000",2.50%,"3,612,000"
9,2016_2,"17,410,000","154,714,000","172,124,000",-,"172,124,000","11,188,000",2.50%,"4,301,000"
10,2016_3,-,"203,312,000","203,312,000","1,263,000","202,049,000","13,133,000",2.54%,"5,123,000"
11,2016_4,-,"209,567,000","209,567,000","2,453,000","207,114,000","13,462,000",2.54%,"5,251,000"
12,2016_5,"33,314,000","696,232,000","729,546,000","3,716,000","725,830,000","47,178,000",NaN,"18,287,000"
13,2017_1,-,"211,731,000","211,731,000","2,845,000","208,886,000","13,578,000",2.54%,"5,296,000"
14,2017_2,-,"226,326,000","226,326,000","3,086,000","223,240,000","14,511,000",2.54%,"5,660,000"
15,2017_3,-,"246,290,000","246,290,000","3,093,000","243,196,000","15,808,000",2.82%,"6,868,000"
16,2017_4,-,"241,067,000","241,067,000","2,923,000","238,144,000","15,479,000",2.82%,"6,725,000"
17,2017_5,-,"925,414,000","925,414,000","11,947,000","913,466,000","59,376,000",NaN,"24,549,000"
18,2018_1,-,"238,989,000","238,989,000","3,002,000","235,987,000","15,339,000",2.82%,"6,664,000"
19,2018_2,-,"250,136,000","250,136,000","3,068,000","247,067,000","16,059,000",2.82%,"6,977,000"
20,2018_3,-,"266,518,000","266,518,000","3,090,000","263,427,000","17,123,000",2.83%,"7,444,000"
21,2018_4,-,"261,542,000","261,542,000","3,034,000","258,507,000","16,803,000",2.83%,"7,305,000"
22,2018_5,-,"1,017,185,000","1,017,185,000","12,194,000","1,004,988,000","65,324,000",NaN,"28,390,000"
23,2019_1,-,"254,504,000","254,504,000","2,997,000","251,507,000","16,348,000",2.83%,"7,108,000"
24,2019_2,-,"268,558,000","268,558,000","3,294,000","265,264,000","17,242,000",2.83%,"7,496,000"
25,2019_3,-,"295,644,000","295,644,000","3,701,000","291,943,000","18,976,000",2.86%,"8,335,000"
26,2019_4,-,"291,910,000","291,910,000","3,357,000","288,553,000","18,756,000",2.86%,"8,238,000"
27,2019_5,-,"1,110,616,000","1,110,616,000","13,349,000","1,097,267,000","71,322,000",NaN,"31,177,000"
28,2020_1,-,"306,606,000","306,606,000","3,484,000","303,122,000","19,703,000",2.86%,"8,654,000"
29,2020_2,-,"372,243,000","372,243,000","4,090,000","368,153,000","23,930,000",2.86%,"10,511,000"
30,2020_3,-,"381,378,000","381,378,000","4,432,000","376,946,000","24,501,000",2.85%,"10,754,000"
31,2020_4,-,"368,516,000","368,516,000","4,281,000","364,235,000","23,675,000",2.85%,"10,392,000"
32,2020_5,-,"1,428,743,000","1,428,743,000","16,287,000","1,412,456,000","91,809,000",NaN,"40,311,000"
33,2021_1,-,"370,886,000","370,886,000","4,323,000","366,563,000","23,827,000",2.85%,"10,458,000"
34,2021_2,-,"380,546,000","380,546,000","4,328,000","376,218,000","24,454,000",2.85%,"10,733,000"
35,2021_3,-,"366,704,000","366,704,000","4,141,000","362,563,000","23,567,000",2.89%,"10,474,000"
36,2021_4,-,"348,538,000","348,538,000","3,687,000","344,851,000","22,415,000",2.89%,"9,963,000"
37,2021_5,-,"1,466,674,000","1,466,674,000","16,479,000","1,450,195,000","94,263,000",NaN,"41,628,000"
38,2022_1,-,"323,900,000","323,900,000","3,463,000","320,436,000","20,828,000",2.89%,"9,257,000"
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = pd.DataFrame(data=df)
df

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Weighted average local sales tax rate6,Estimated local sales tax collections
0,2014_3,"23,423,000","12,208,000","35,631,000",-,"35,631,000","2,316,000",2.47%,"880,000"
1,2014_4,"27,529,000","28,443,000","55,972,000",-,"55,972,000","3,638,000",2.47%,"1,382,000"
2,2014_5,"50,952,000","40,651,000","91,603,000",-,"91,603,000","5,954,000",NaN,"2,262,000"
3,2015_1,"31,473,000","50,545,000","82,018,000",-,"82,018,000","5,331,000",2.47%,"2,026,000"
4,2015_2,"35,477,000","88,435,000","123,912,000",-,"123,912,000","8,054,000",2.47%,"3,060,000"
5,2015_3,"23,495,000","104,631,000","128,126,000",-,"128,126,000","8,328,000",2.50%,"3,202,000"
6,2015_4,"21,269,000","113,964,000","135,233,000",-,"135,233,000","8,790,000",2.50%,"3,380,000"
7,2015_5,"111,714,000","357,575,000","469,289,000",-,"469,289,000","30,503,000",NaN,"11,668,000"
8,2016_1,"15,904,000","128,639,000","144,543,000",-,"144,543,000","9,395,000",2.50%,"3,612,000"
9,2016_2,"17,410,000","154,714,000","172,124,000",-,"172,124,000","11,188,000",2.50%,"4,301,000"
10,2016_3,-,"203,312,000","203,312,000","1,263,000","202,049,000","13,133,000",2.54%,"5,123,000"
11,2016_4,-,"209,567,000","209,567,000","2,453,000","207,114,000","13,462,000",2.54%,"5,251,000"
12,2016_5,"33,314,000","696,232,000","729,546,000","3,716,000","725,830,000","47,178,000",NaN,"18,287,000"
13,2017_1,-,"211,731,000","211,731,000","2,845,000","208,886,000","13,578,000",2.54%,"5,296,000"
14,2017_2,-,"226,326,000","226,326,000","3,086,000","223,240,000","14,511,000",2.54%,"5,660,000"
15,2017_3,-,"246,290,000","246,290,000","3,093,000","243,196,000","15,808,000",2.82%,"6,868,000"
16,2017_4,-,"241,067,000","241,067,000","2,923,000","238,144,000","15,479,000",2.82%,"6,725,000"
17,2017_5,-,"925,414,000","925,414,000","11,947,000","913,466,000","59,376,000",NaN,"24,549,000"
18,2018_1,-,"238,989,000","238,989,000","3,002,000","235,987,000","15,339,000",2.82%,"6,664,000"
19,2018_2,-,"250,136,000","250,136,000","3,068,000","247,067,000","16,059,000",2.82%,"6,977,000"
20,2018_3,-,"266,518,000","266,518,000","3,090,000","263,427,000","17,123,000",2.83%,"7,444,000"
21,2018_4,-,"261,542,000","261,542,000","3,034,000","258,507,000","16,803,000",2.83%,"7,305,000"
22,2018_5,-,"1,017,185,000","1,017,185,000","12,194,000","1,004,988,000","65,324,000",NaN,"28,390,000"
23,2019_1,-,"254,504,000","254,504,000","2,997,000","251,507,000","16,348,000",2.83%,"7,108,000"
24,2019_2,-,"268,558,000","268,558,000","3,294,000","265,264,000","17,242,000",2.83%,"7,496,000"
25,2019_3,-,"295,644,000","295,644,000","3,701,000","291,943,000","18,976,000",2.86%,"8,335,000"
26,2019_4,-,"291,910,000","291,910,000","3,357,000","288,553,000","18,756,000",2.86%,"8,238,000"
27,2019_5,-,"1,110,616,000","1,110,616,000","13,349,000","1,097,267,000","71,322,000",NaN,"31,177,000"
28,2020_1,-,"306,606,000","306,606,000","3,484,000","303,122,000","19,703,000",2.86%,"8,654,000"
29,2020_2,-,"372,243,000","372,243,000","4,090,000","368,153,000","23,930,000",2.86%,"10,511,000"
30,2020_3,-,"381,378,000","381,378,000","4,432,000","376,946,000","24,501,000",2.85%,"10,754,000"
31,2020_4,-,"368,516,000","368,516,000","4,281,000","364,235,000","23,675,000",2.85%,"10,392,000"
32,2020_5,-,"1,428,743,000","1,428,743,000","16,287,000","1,412,456,000","91,809,000",NaN,"40,311,000"
33,2021_1,-,"370,886,000","370,886,000","4,323,000","366,563,000","23,827,000",2.85%,"10,458,000"
34,2021_2,-,"380,546,000","380,546,000","4,328,000","376,218,000","24,454,000",2.85%,"10,733,000"
35,2021_3,-,"366,704,000","366,704,000","4,141,000","362,563,000","23,567,000",2.89%,"10,474,000"
36,2021_4,-,"348,538,000","348,538,000","3,687,000","344,851,000","22,415,000",2.89%,"9,963,000"
37,2021_5,-,"1,466,674,000","1,466,674,000","16,479,000","1,450,195,000","94,263,000",NaN,"41,628,000"
38,2022_1,-,"323,900,000","323,900,000","3,463,000","320,436,000","20,828,000",2.89%,"9,257,000"
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#dropna with a how parameter to drop rows with all elements missing
df.dropna(how='all', inplace=True)
df

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Weighted average local sales tax rate6,Estimated local sales tax collections
0,2014_3,"23,423,000","12,208,000","35,631,000",-,"35,631,000","2,316,000",2.47%,"880,000"
1,2014_4,"27,529,000","28,443,000","55,972,000",-,"55,972,000","3,638,000",2.47%,"1,382,000"
2,2014_5,"50,952,000","40,651,000","91,603,000",-,"91,603,000","5,954,000",NaN,"2,262,000"
3,2015_1,"31,473,000","50,545,000","82,018,000",-,"82,018,000","5,331,000",2.47%,"2,026,000"
4,2015_2,"35,477,000","88,435,000","123,912,000",-,"123,912,000","8,054,000",2.47%,"3,060,000"
5,2015_3,"23,495,000","104,631,000","128,126,000",-,"128,126,000","8,328,000",2.50%,"3,202,000"
6,2015_4,"21,269,000","113,964,000","135,233,000",-,"135,233,000","8,790,000",2.50%,"3,380,000"
7,2015_5,"111,714,000","357,575,000","469,289,000",-,"469,289,000","30,503,000",NaN,"11,668,000"
8,2016_1,"15,904,000","128,639,000","144,543,000",-,"144,543,000","9,395,000",2.50%,"3,612,000"
9,2016_2,"17,410,000","154,714,000","172,124,000",-,"172,124,000","11,188,000",2.50%,"4,301,000"
10,2016_3,-,"203,312,000","203,312,000","1,263,000","202,049,000","13,133,000",2.54%,"5,123,000"
11,2016_4,-,"209,567,000","209,567,000","2,453,000","207,114,000","13,462,000",2.54%,"5,251,000"
12,2016_5,"33,314,000","696,232,000","729,546,000","3,716,000","725,830,000","47,178,000",NaN,"18,287,000"
13,2017_1,-,"211,731,000","211,731,000","2,845,000","208,886,000","13,578,000",2.54%,"5,296,000"
14,2017_2,-,"226,326,000","226,326,000","3,086,000","223,240,000","14,511,000",2.54%,"5,660,000"
15,2017_3,-,"246,290,000","246,290,000","3,093,000","243,196,000","15,808,000",2.82%,"6,868,000"
16,2017_4,-,"241,067,000","241,067,000","2,923,000","238,144,000","15,479,000",2.82%,"6,725,000"
17,2017_5,-,"925,414,000","925,414,000","11,947,000","913,466,000","59,376,000",NaN,"24,549,000"
18,2018_1,-,"238,989,000","238,989,000","3,002,000","235,987,000","15,339,000",2.82%,"6,664,000"
19,2018_2,-,"250,136,000","250,136,000","3,068,000","247,067,000","16,059,000",2.82%,"6,977,000"
20,2018_3,-,"266,518,000","266,518,000","3,090,000","263,427,000","17,123,000",2.83%,"7,444,000"
21,2018_4,-,"261,542,000","261,542,000","3,034,000","258,507,000","16,803,000",2.83%,"7,305,000"
22,2018_5,-,"1,017,185,000","1,017,185,000","12,194,000","1,004,988,000","65,324,000",NaN,"28,390,000"
23,2019_1,-,"254,504,000","254,504,000","2,997,000","251,507,000","16,348,000",2.83%,"7,108,000"
24,2019_2,-,"268,558,000","268,558,000","3,294,000","265,264,000","17,242,000",2.83%,"7,496,000"
25,2019_3,-,"295,644,000","295,644,000","3,701,000","291,943,000","18,976,000",2.86%,"8,335,000"
26,2019_4,-,"291,910,000","291,910,000","3,357,000","288,553,000","18,756,000",2.86%,"8,238,000"
27,2019_5,-,"1,110,616,000","1,110,616,000","13,349,000","1,097,267,000","71,322,000",NaN,"31,177,000"
28,2020_1,-,"306,606,000","306,606,000","3,484,000","303,122,000","19,703,000",2.86%,"8,654,000"
29,2020_2,-,"372,243,000","372,243,000","4,090,000","368,153,000","23,930,000",2.86%,"10,511,000"
30,2020_3,-,"381,378,000","381,378,000","4,432,000","376,946,000","24,501,000",2.85%,"10,754,000"
31,2020_4,-,"368,516,000","368,516,000","4,281,000","364,235,000","23,675,000",2.85%,"10,392,000"
32,2020_5,-,"1,428,743,000","1,428,743,000","16,287,000","1,412,456,000","91,809,000",NaN,"40,311,000"
33,2021_1,-,"370,886,000","370,886,000","4,323,000","366,563,000","23,827,000",2.85%,"10,458,000"
34,2021_2,-,"380,546,000","380,546,000","4,328,000","376,218,000","24,454,000",2.85%,"10,733,000"
35,2021_3,-,"366,704,000","366,704,000","4,141,000","362,563,000","23,567,000",2.89%,"10,474,000"
36,2021_4,-,"348,538,000","348,538,000","3,687,000","344,851,000","22,415,000",2.89%,"9,963,000"
37,2021_5,-,"1,466,674,000","1,466,674,000","16,479,000","1,450,195,000","94,263,000",NaN,"41,628,000"
38,2022_1,-,"323,900,000","323,900,000","3,463,000","320,436,000","20,828,000",2.89%,"9,257,000"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 9 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Quarter of Activity2                                                                                         39 non-null     object
 1   Taxable retail sales as reported by cannabis collectives (before tax)3                                       39 non-null     object
 2   Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4  39 non-null     object
 3   Total retail value of cannabis and cannabis products (before tax)                                            39 non-null     object
 4   Sales exempt from sales tax for medical purposes5                                                            39 non-null     object
 5   Estimated retail value of cannabis and cannabis products subject to state and local sales taxes              39 non-null     object
 6   Estimated state sales tax collections                                                                        39 non-null     object
 7   Weighted average local sales tax rate6                                                                       31 non-null     object
 8   Estimated local sales tax collections                                                                        39 non-null     object
dtypes: object(9)
memory usage: 3.0+ KB

In [6]:
#drop the tax percentage
df.drop(['Weighted average local sales tax rate6'], axis=1, inplace=True)
df

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Estimated local sales tax collections
0,2014_3,"23,423,000","12,208,000","35,631,000",-,"35,631,000","2,316,000","880,000"
1,2014_4,"27,529,000","28,443,000","55,972,000",-,"55,972,000","3,638,000","1,382,000"
2,2014_5,"50,952,000","40,651,000","91,603,000",-,"91,603,000","5,954,000","2,262,000"
3,2015_1,"31,473,000","50,545,000","82,018,000",-,"82,018,000","5,331,000","2,026,000"
4,2015_2,"35,477,000","88,435,000","123,912,000",-,"123,912,000","8,054,000","3,060,000"
5,2015_3,"23,495,000","104,631,000","128,126,000",-,"128,126,000","8,328,000","3,202,000"
6,2015_4,"21,269,000","113,964,000","135,233,000",-,"135,233,000","8,790,000","3,380,000"
7,2015_5,"111,714,000","357,575,000","469,289,000",-,"469,289,000","30,503,000","11,668,000"
8,2016_1,"15,904,000","128,639,000","144,543,000",-,"144,543,000","9,395,000","3,612,000"
9,2016_2,"17,410,000","154,714,000","172,124,000",-,"172,124,000","11,188,000","4,301,000"
10,2016_3,-,"203,312,000","203,312,000","1,263,000","202,049,000","13,133,000","5,123,000"
11,2016_4,-,"209,567,000","209,567,000","2,453,000","207,114,000","13,462,000","5,251,000"
12,2016_5,"33,314,000","696,232,000","729,546,000","3,716,000","725,830,000","47,178,000","18,287,000"
13,2017_1,-,"211,731,000","211,731,000","2,845,000","208,886,000","13,578,000","5,296,000"
14,2017_2,-,"226,326,000","226,326,000","3,086,000","223,240,000","14,511,000","5,660,000"
15,2017_3,-,"246,290,000","246,290,000","3,093,000","243,196,000","15,808,000","6,868,000"
16,2017_4,-,"241,067,000","241,067,000","2,923,000","238,144,000","15,479,000","6,725,000"
17,2017_5,-,"925,414,000","925,414,000","11,947,000","913,466,000","59,376,000","24,549,000"
18,2018_1,-,"238,989,000","238,989,000","3,002,000","235,987,000","15,339,000","6,664,000"
19,2018_2,-,"250,136,000","250,136,000","3,068,000","247,067,000","16,059,000","6,977,000"
20,2018_3,-,"266,518,000","266,518,000","3,090,000","263,427,000","17,123,000","7,444,000"
21,2018_4,-,"261,542,000","261,542,000","3,034,000","258,507,000","16,803,000","7,305,000"
22,2018_5,-,"1,017,185,000","1,017,185,000","12,194,000","1,004,988,000","65,324,000","28,390,000"
23,2019_1,-,"254,504,000","254,504,000","2,997,000","251,507,000","16,348,000","7,108,000"
24,2019_2,-,"268,558,000","268,558,000","3,294,000","265,264,000","17,242,000","7,496,000"
25,2019_3,-,"295,644,000","295,644,000","3,701,000","291,943,000","18,976,000","8,335,000"
26,2019_4,-,"291,910,000","291,910,000","3,357,000","288,553,000","18,756,000","8,238,000"
27,2019_5,-,"1,110,616,000","1,110,616,000","13,349,000","1,097,267,000","71,322,000","31,177,000"
28,2020_1,-,"306,606,000","306,606,000","3,484,000","303,122,000","19,703,000","8,654,000"
29,2020_2,-,"372,243,000","372,243,000","4,090,000","368,153,000","23,930,000","10,511,000"
30,2020_3,-,"381,378,000","381,378,000","4,432,000","376,946,000","24,501,000","10,754,000"
31,2020_4,-,"368,516,000","368,516,000","4,281,000","364,235,000","23,675,000","10,392,000"
32,2020_5,-,"1,428,743,000","1,428,743,000","16,287,000","1,412,456,000","91,809,000","40,311,000"
33,2021_1,-,"370,886,000","370,886,000","4,323,000","366,563,000","23,827,000","10,458,000"
34,2021_2,-,"380,546,000","380,546,000","4,328,000","376,218,000","24,454,000","10,733,000"
35,2021_3,-,"366,704,000","366,704,000","4,141,000","362,563,000","23,567,000","10,474,000"
36,2021_4,-,"348,538,000","348,538,000","3,687,000","344,851,000","22,415,000","9,963,000"
37,2021_5,-,"1,466,674,000","1,466,674,000","16,479,000","1,450,195,000","94,263,000","41,628,000"
38,2022_1,-,"323,900,000","323,900,000","3,463,000","320,436,000","20,828,000","9,257,000"

In [7]:
# regex replace for the commas
df.replace({'\,':''}, regex = True, inplace= True)
df

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Estimated local sales tax collections
0,2014_3,23423000,12208000,35631000,-,35631000,2316000,880000
1,2014_4,27529000,28443000,55972000,-,55972000,3638000,1382000
2,2014_5,50952000,40651000,91603000,-,91603000,5954000,2262000
3,2015_1,31473000,50545000,82018000,-,82018000,5331000,2026000
4,2015_2,35477000,88435000,123912000,-,123912000,8054000,3060000
5,2015_3,23495000,104631000,128126000,-,128126000,8328000,3202000
6,2015_4,21269000,113964000,135233000,-,135233000,8790000,3380000
7,2015_5,111714000,357575000,469289000,-,469289000,30503000,11668000
8,2016_1,15904000,128639000,144543000,-,144543000,9395000,3612000
9,2016_2,17410000,154714000,172124000,-,172124000,11188000,4301000
10,2016_3,-,203312000,203312000,1263000,202049000,13133000,5123000
11,2016_4,-,209567000,209567000,2453000,207114000,13462000,5251000
12,2016_5,33314000,696232000,729546000,3716000,725830000,47178000,18287000
13,2017_1,-,211731000,211731000,2845000,208886000,13578000,5296000
14,2017_2,-,226326000,226326000,3086000,223240000,14511000,5660000
15,2017_3,-,246290000,246290000,3093000,243196000,15808000,6868000
16,2017_4,-,241067000,241067000,2923000,238144000,15479000,6725000
17,2017_5,-,925414000,925414000,11947000,913466000,59376000,24549000
18,2018_1,-,238989000,238989000,3002000,235987000,15339000,6664000
19,2018_2,-,250136000,250136000,3068000,247067000,16059000,6977000
20,2018_3,-,266518000,266518000,3090000,263427000,17123000,7444000
21,2018_4,-,261542000,261542000,3034000,258507000,16803000,7305000
22,2018_5,-,1017185000,1017185000,12194000,1004988000,65324000,28390000
23,2019_1,-,254504000,254504000,2997000,251507000,16348000,7108000
24,2019_2,-,268558000,268558000,3294000,265264000,17242000,7496000
25,2019_3,-,295644000,295644000,3701000,291943000,18976000,8335000
26,2019_4,-,291910000,291910000,3357000,288553000,18756000,8238000
27,2019_5,-,1110616000,1110616000,13349000,1097267000,71322000,31177000
28,2020_1,-,306606000,306606000,3484000,303122000,19703000,8654000
29,2020_2,-,372243000,372243000,4090000,368153000,23930000,10511000
30,2020_3,-,381378000,381378000,4432000,376946000,24501000,10754000
31,2020_4,-,368516000,368516000,4281000,364235000,23675000,10392000
32,2020_5,-,1428743000,1428743000,16287000,1412456000,91809000,40311000
33,2021_1,-,370886000,370886000,4323000,366563000,23827000,10458000
34,2021_2,-,380546000,380546000,4328000,376218000,24454000,10733000
35,2021_3,-,366704000,366704000,4141000,362563000,23567000,10474000
36,2021_4,-,348538000,348538000,3687000,344851000,22415000,9963000
37,2021_5,-,1466674000,1466674000,16479000,1450195000,94263000,41628000
38,2022_1,-,323900000,323900000,3463000,320436000,20828000,9257000

In [8]:
# fill in the - with a 0
df.replace({'\-': 0}, regex = True, inplace= True)
df

,Quarter of Activity2,Taxable retail sales as reported by cannabis collectives (before tax)3,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,Estimated retail value of cannabis and cannabis products subject to state and local sales taxes,Estimated state sales tax collections,Estimated local sales tax collections
0,2014_3,23423000,12208000,35631000,0,35631000,2316000,880000
1,2014_4,27529000,28443000,55972000,0,55972000,3638000,1382000
2,2014_5,50952000,40651000,91603000,0,91603000,5954000,2262000
3,2015_1,31473000,50545000,82018000,0,82018000,5331000,2026000
4,2015_2,35477000,88435000,123912000,0,123912000,8054000,3060000
5,2015_3,23495000,104631000,128126000,0,128126000,8328000,3202000
6,2015_4,21269000,113964000,135233000,0,135233000,8790000,3380000
7,2015_5,111714000,357575000,469289000,0,469289000,30503000,11668000
8,2016_1,15904000,128639000,144543000,0,144543000,9395000,3612000
9,2016_2,17410000,154714000,172124000,0,172124000,11188000,4301000
10,2016_3,0,203312000,203312000,1263000,202049000,13133000,5123000
11,2016_4,0,209567000,209567000,2453000,207114000,13462000,5251000
12,2016_5,33314000,696232000,729546000,3716000,725830000,47178000,18287000
13,2017_1,0,211731000,211731000,2845000,208886000,13578000,5296000
14,2017_2,0,226326000,226326000,3086000,223240000,14511000,5660000
15,2017_3,0,246290000,246290000,3093000,243196000,15808000,6868000
16,2017_4,0,241067000,241067000,2923000,238144000,15479000,6725000
17,2017_5,0,925414000,925414000,11947000,913466000,59376000,24549000
18,2018_1,0,238989000,238989000,3002000,235987000,15339000,6664000
19,2018_2,0,250136000,250136000,3068000,247067000,16059000,6977000
20,2018_3,0,266518000,266518000,3090000,263427000,17123000,7444000
21,2018_4,0,261542000,261542000,3034000,258507000,16803000,7305000
22,2018_5,0,1017185000,1017185000,12194000,1004988000,65324000,28390000
23,2019_1,0,254504000,254504000,2997000,251507000,16348000,7108000
24,2019_2,0,268558000,268558000,3294000,265264000,17242000,7496000
25,2019_3,0,295644000,295644000,3701000,291943000,18976000,8335000
26,2019_4,0,291910000,291910000,3357000,288553000,18756000,8238000
27,2019_5,0,1110616000,1110616000,13349000,1097267000,71322000,31177000
28,2020_1,0,306606000,306606000,3484000,303122000,19703000,8654000
29,2020_2,0,372243000,372243000,4090000,368153000,23930000,10511000
30,2020_3,0,381378000,381378000,4432000,376946000,24501000,10754000
31,2020_4,0,368516000,368516000,4281000,364235000,23675000,10392000
32,2020_5,0,1428743000,1428743000,16287000,1412456000,91809000,40311000
33,2021_1,0,370886000,370886000,4323000,366563000,23827000,10458000
34,2021_2,0,380546000,380546000,4328000,376218000,24454000,10733000
35,2021_3,0,366704000,366704000,4141000,362563000,23567000,10474000
36,2021_4,0,348538000,348538000,3687000,344851000,22415000,9963000
37,2021_5,0,1466674000,1466674000,16479000,1450195000,94263000,41628000
38,2022_1,0,323900000,323900000,3463000,320436000,20828000,9257000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Quarter of Activity2                                                                                         39 non-null     object
 1   Taxable retail sales as reported by cannabis collectives (before tax)3                                       39 non-null     object
 2   Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4  39 non-null     object
 3   Total retail value of cannabis and cannabis products (before tax)                                            39 non-null     object
 4   Sales exempt from sales tax for medical purposes5                                                            39 non-null     object
 5   Estimated retail value of cannabis and cannabis products subject to state and local sales taxes              39 non-null     object
 6   Estimated state sales tax collections                                                                        39 non-null     object
 7   Estimated local sales tax collections                                                                        39 non-null     object
dtypes: object(8)
memory usage: 2.7+ KB

In [12]:
df.rename(columns = {"Quarter of Activity2":"quarter", "Taxable retail sales as reported by cannabis collectives (before tax)3":"marijuana_before_tax", "Estimated retail value of cannabis and cannabis products subject to state and local sales taxes":"marijuana_after_tax", "Estimated state sales tax collections":"state_tax_collection"}, inplace=True)
df

,quarter,marijuana_before_tax,Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4,Total retail value of cannabis and cannabis products (before tax),Sales exempt from sales tax for medical purposes5,marijuana_after_tax,state_tax_collection,Estimated local sales tax collections
0,2014_3,23423000,12208000,35631000,0,35631000,2316000,880000
1,2014_4,27529000,28443000,55972000,0,55972000,3638000,1382000
2,2014_5,50952000,40651000,91603000,0,91603000,5954000,2262000
3,2015_1,31473000,50545000,82018000,0,82018000,5331000,2026000
4,2015_2,35477000,88435000,123912000,0,123912000,8054000,3060000
5,2015_3,23495000,104631000,128126000,0,128126000,8328000,3202000
6,2015_4,21269000,113964000,135233000,0,135233000,8790000,3380000
7,2015_5,111714000,357575000,469289000,0,469289000,30503000,11668000
8,2016_1,15904000,128639000,144543000,0,144543000,9395000,3612000
9,2016_2,17410000,154714000,172124000,0,172124000,11188000,4301000
10,2016_3,0,203312000,203312000,1263000,202049000,13133000,5123000
11,2016_4,0,209567000,209567000,2453000,207114000,13462000,5251000
12,2016_5,33314000,696232000,729546000,3716000,725830000,47178000,18287000
13,2017_1,0,211731000,211731000,2845000,208886000,13578000,5296000
14,2017_2,0,226326000,226326000,3086000,223240000,14511000,5660000
15,2017_3,0,246290000,246290000,3093000,243196000,15808000,6868000
16,2017_4,0,241067000,241067000,2923000,238144000,15479000,6725000
17,2017_5,0,925414000,925414000,11947000,913466000,59376000,24549000
18,2018_1,0,238989000,238989000,3002000,235987000,15339000,6664000
19,2018_2,0,250136000,250136000,3068000,247067000,16059000,6977000
20,2018_3,0,266518000,266518000,3090000,263427000,17123000,7444000
21,2018_4,0,261542000,261542000,3034000,258507000,16803000,7305000
22,2018_5,0,1017185000,1017185000,12194000,1004988000,65324000,28390000
23,2019_1,0,254504000,254504000,2997000,251507000,16348000,7108000
24,2019_2,0,268558000,268558000,3294000,265264000,17242000,7496000
25,2019_3,0,295644000,295644000,3701000,291943000,18976000,8335000
26,2019_4,0,291910000,291910000,3357000,288553000,18756000,8238000
27,2019_5,0,1110616000,1110616000,13349000,1097267000,71322000,31177000
28,2020_1,0,306606000,306606000,3484000,303122000,19703000,8654000
29,2020_2,0,372243000,372243000,4090000,368153000,23930000,10511000
30,2020_3,0,381378000,381378000,4432000,376946000,24501000,10754000
31,2020_4,0,368516000,368516000,4281000,364235000,23675000,10392000
32,2020_5,0,1428743000,1428743000,16287000,1412456000,91809000,40311000
33,2021_1,0,370886000,370886000,4323000,366563000,23827000,10458000
34,2021_2,0,380546000,380546000,4328000,376218000,24454000,10733000
35,2021_3,0,366704000,366704000,4141000,362563000,23567000,10474000
36,2021_4,0,348538000,348538000,3687000,344851000,22415000,9963000
37,2021_5,0,1466674000,1466674000,16479000,1450195000,94263000,41628000
38,2022_1,0,323900000,323900000,3463000,320436000,20828000,9257000

In [14]:
# I dropping columns that I might not use
df.drop([
         "Estimated retail value of cannabis and cannabis products sold at a licensed cannabis retailer (before tax)4",
         "Total retail value of cannabis and cannabis products (before tax)",
         "Sales exempt from sales tax for medical purposes5", 
         "Estimated local sales tax collections"], axis=1, inplace=True)
df

   quarter marijuana_before_tax marijuana_after_tax state_tax_collection
0   2014_3            23423000            35631000              2316000
1   2014_4            27529000            55972000              3638000
2   2014_5            50952000            91603000              5954000
3   2015_1            31473000            82018000              5331000
4   2015_2            35477000           123912000              8054000
5   2015_3            23495000           128126000              8328000
6   2015_4            21269000           135233000              8790000
7   2015_5           111714000           469289000             30503000
8   2016_1            15904000           144543000              9395000
9   2016_2            17410000           172124000             11188000
10  2016_3                    0          202049000             13133000
11  2016_4                    0          207114000             13462000
12  2016_5            33314000           725830000             47178000
13  2017_1                    0          208886000             13578000
14  2017_2                    0          223240000             14511000
15  2017_3                    0          243196000             15808000
16  2017_4                    0          238144000             15479000
17  2017_5                    0          913466000             59376000
18  2018_1                    0          235987000             15339000
19  2018_2                    0          247067000             16059000
20  2018_3                    0          263427000             17123000
21  2018_4                    0          258507000             16803000
22  2018_5                    0         1004988000             65324000
23  2019_1                    0          251507000             16348000
24  2019_2                    0          265264000             17242000
25  2019_3                    0          291943000             18976000
26  2019_4                    0          288553000             18756000
27  2019_5                    0         1097267000             71322000
28  2020_1                    0          303122000             19703000
29  2020_2                    0          368153000             23930000
30  2020_3                    0          376946000             24501000
31  2020_4                    0          364235000             23675000
32  2020_5                    0         1412456000             91809000
33  2021_1                    0          366563000             23827000
34  2021_2                    0          376218000             24454000
35  2021_3                    0          362563000             23567000
36  2021_4                    0          344851000             22415000
37  2021_5                    0         1450195000             94263000
38  2022_1                    0          320436000             20828000